{% extends "base.html.twig" %}

{% block title %}Schedules - {{ title }} - {% endblock %}

{% block body %}
    <div class="text--prose">
        <h1 class="title">
            <span class="title__context">
                <a href="/schedules">Schedules</a>
            </span>
            {{ title }}
        </h1>
        <p>This is the intro</p>
    </div>

    <div class="t-schedules">
        <div class="t-schedules__jump text--right">
            <a href="#schedules-nav">Choose day ▼</a>
        </div>
        <div class="t-schedules__listings">

            {% if specialDay and specialDay.publicNote %}
                <div class="text--prose">
                    <p><strong>{{ specialDay.publicNote }}</strong></p>
                </div>
            {% endif %}

            <ol class="schedule-list">
                {% for broadcast in broadcasts %}
                    <li class="schedule-list__item">
                        <a class="schedule-list__link" href="/viewShow.php?showID={{ broadcast.programme.legacyId }}">
                            <h2 class="c schedule-list__time">{{ broadcast.time.formatted }}</h2>
                            {% if broadcast.programme.image %}
                                <img class="schedule-list__programme-image"
                                     alt=""
                                     src="{{ broadcast.programme.image.src }}" />
                            {% endif %}
                            <div class="schedule-list__programme">
                                <h3 class="d schedule-list__programme-title">{{ broadcast.programme.title }}</h3>
                                {% if broadcast.programme.tagline %}
                                    <p class="schedule-list__programme-tagline">{{ broadcast.programme.tagline }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div class="t-schedules__navigation" id="schedules-nav">
            <h2 class="t-schedules__heading">Usual listings</h2>
            <ul class="schedule-days">
                <li><a href="/schedules/monday">Monday</a></li>
                <li><a href="/schedules/tuesday">Tuesday</a></li>
                <li><a href="/schedules/wednesday">Wednesday</a></li>
                <li><a href="/schedules/thursday">Thursday</a></li>
                <li><a href="/schedules/friday">Friday</a></li>
                <li><a href="/schedules/saturday">Saturday</a></li>
                <li><a href="/schedules/sunday">Sunday</a></li>
            </ul>

            {% if calendars %}
                <h2 class="t-schedules__heading">Full calendar</h2>
                <p>Highlighted days have changes from the usual schedule</p>
                {% for calendar in calendars %}
                    {% include '_presenters/calendar-month.html.twig' with {'calendar':calendar} only %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}
