{% extends "base.html.twig" %}

{% block title %}Schedules - {{ title }} - {% endblock %}

{% block body %}
    <h1 class="title">
        <span class="title__context">
            <a href="/schedules">{{ prose.title }}</a>
        </span>
        {{ title }}
    </h1>

    <div class="unit">
        {{ prose.htmlContent|raw }}
    </div>

    <div class="t-schedules">
        <div class="t-schedules__jump text--right">
            <a href="#schedules-nav">Choose day ▼</a>
        </div>
        <div class="t-schedules__listings">

            <h2 class="hidden--visually">Listings</h2>

            <ol class="schedule-list">
                {% for broadcast in broadcasts %}
                    <li class="schedule-list__item">
                        <a class="broadcast {%
                            if broadcast.programme.isEvent
                        %}broadcast--event broadcast--event-{{ broadcast.programme.type }}{%
                            endif %}" href="{{ broadcast.programme.url }}">
                            <h3 class="c broadcast__datetime">
                                <span class="broadcast__datetime-time">{{ broadcast.time.formatted }}</span>
                            </h3>
                            {% if broadcast.programme.image %}
                                <img class="broadcast__image"
                                     alt=""
                                     src="{{ broadcast.programme.image.src }}" />
                            {% endif %}
                            <div class="broadcast__programme">
                                {% if broadcast.programme.isEvent %}
                                    <p class="broadcast__programme-type">{{ broadcast.programme.typeName }}</p>
                                {% endif %}
                                <h4 class="broadcast__programme-title">{{ broadcast.programme.title }}</h4>
                                {% if broadcast.programme.tagline %}
                                    <p class="broadcast__programme-tagline">{{ broadcast.programme.tagline }}</p>
                                {% endif %}
                                {% if broadcast.publicNote %}
                                    <p class="broadcast__programme-tagline">{{ broadcast.publicNote }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div class="t-schedules__navigation" id="schedules-nav">
            <h2 class="t-schedules__heading">Usual listings</h2>
            <ul class="schedule-days">
                <li><a href="/schedules/monday">Monday</a></li>
                <li><a href="/schedules/tuesday">Tuesday</a></li>
                <li><a href="/schedules/wednesday">Wednesday</a></li>
                <li><a href="/schedules/thursday">Thursday</a></li>
                <li><a href="/schedules/friday">Friday</a></li>
                <li><a href="/schedules/saturday">Saturday</a></li>
                <li><a href="/schedules/sunday">Sunday</a></li>
            </ul>

            {% if calendars %}
                <h2 class="t-schedules__heading">Full calendar</h2>
                <p class="unit">Highlighted days have changes from the usual schedule</p>
                {% for calendar in calendars %}
                    {% include '_presenters/calendar-month.html.twig' with {'calendar':calendar} only %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}
