{% if nowNext[0] %}
    <strong>On Air Now: {{ nowNext[0].time }}</strong>
    <a href="/viewShow.php?showID={{ nowNext[0].programme.legacyId }}">{{ nowNext[0].programme.title }}</a>
{% endif %}
{% if nowNext[1] %}
    {% if nowNext[0] %} | {% endif %}
    <strong>Next: {{ nowNext[1].time }}</strong>
    <a href="/viewShow.php?showID={{ nowNext[1].programme.legacyId }}">{{ nowNext[1].programme.title }}</a>
{% endif %}
