{% extends "base.html.twig" %}

{% block title %}{{ programme.title }} - {% endblock %}

{% block body %}
    <div class="t-programme">

        <h1 class="t-programme__title">{{ programme.title }}</h1>

        <div class="t-programme__main">

            <div class="t-programme__detail">
                <div class="t-programme__prose text--prose">
                    {{ programme.availableDetail|raw }}
                </div>
            </div>



            <div class="t-programme__side">
            {% if programme.image %}
                <div class="t-programme__img">
                    <img src="{{ programme.image.src }}" alt=""/>
                </div>
            {% endif %}

            {% if listings %}
                <h2 class="t-programme__listing-title">On air times</h2>
                <ul class="listing">
                    {% for listing in listings %}
                        <li class="listing__item">
                            <span class="listing__date">{{ listing.day }}</span>
                            <span class="listing__time">{{ listing.time }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif nextOn %}
                <h2 class="t-programme__listing-title">Next on</h2>
                <div class="listing">
                    <p class="listing__item">
                        <span class="listing__date">{{ nextOn.dateFormattedFull }}</span>
                        <span class="listing__time">{{ nextOn.time }}</span>
                    </p>
                </div>
            {% endif %}
            </div>
        </div>

        {% if hasPeople %}
        <div class="t-programme__people">
            <ul class="person-list">
                {% for person in people %}
                    <li>{% include '_presenters/person.html.twig' with {'person': person} %}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

{% endblock %}
