<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>{% block title %}{% endblock %}{{ baseSiteTitle }}</title>
        <link rel="stylesheet" href="{{ baseAssetManifest['app.css'] }}" />
        {% block headScripts %}{% endblock %}
        {% block headIcons %}
            <link rel="apple-touch-icon" sizes="180x180"
                  href="{{ baseAssetManifest['apple-icon-180x180.png'] }}" />
            <link rel="icon" type="image/png" sizes="192x192"
                  href="{{ baseAssetManifest['android-icon-192x192.png'] }}" />
            <link rel="icon" type="image/png" sizes="96x96"
                  href="{{ baseAssetManifest['favicon-96x96.png'] }}" />
            <meta name="msapplication-TileColor" content="#305370" />
            <meta name="theme-color" content="#305370" />
        {% endblock %}
        <style>
            @media (min-width: 48rem) {
                .masthead {
                    background-image: url("{{ baseAssetManifest['header-bg.png'] }}");
                }
            }
            .live-cricket__ball {
                background-image: url("{{ baseAssetManifest['cricketball.png'] }}");
            }
        </style>
    </head>
    <body>
        <div class="page-wrap">
            <header class="masthead">
                <a href="/" class="masthead__text">
                    {{ baseSiteTitle }}
                </a>
                <a href="#nav" class="masthead__menu-link" title="Show navigation">
                    <svg viewBox="0 0 24 24">
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </a>
            </header>
            <div class="now-on">
                {% include '_partials/now-next.html.twig' with {'nowNext' : baseNowAndNext} %}
            </div>
            <main class="t-overall">
                <div class="t-overall__main">
                    {% block body %}{% endblock %}
                    <div class="t-overall__donate">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick" />
                            <input type="hidden" name="hosted_button_id" value="SALKECKZ6E3GE" />
                            <input type="image"
                                   src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif"
                                   border="0"
                                   name="submit"
                                   alt="PayPal — The safer, easier way to pay online." />
                            </form>
                    </div>
                </div>
                <nav id="nav" class="t-overall__nav">
                    <ul class="nav">
                        <li>
                            <span class="nav__group-title"><a href="/" class="nav__item">Home Page</a></span>
                            <ul class="nav__sub">
                                <li><a class="nav__item" href="/requests">Requests</a></li>
                            </ul>
                        </li>


                        {% for group in baseNavPresenter.groups %}
                            <li>
                                <span class="nav__group-title nav__item">{{ group.title }}</span>
                                <ul class="nav__sub">
                                    {% for page in group.pages %}
                                        <li><a class="nav__item" href="/{{ page.urlPath }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </main>
            <footer class="footer">
                {{ baseFooterContent|raw }}
            </footer>
        </div>
    </body>
</html>
